.clock {
  background: #92a8d1;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.clock-time.clock-ampm {
  font-family: sans-serif;
  font-size: 30px;
  color: rgb(34, 13, 51);
}
.clock-time {
  font-size: 48px;
}
